body {
  margin: 15px;
}
header {
  text-align: center;
  background-color: #ffffff;
  padding: 15px;
  border: 0px solid #555;
}
ul.personal_info {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  background-color: #f6ddcc ;
}
li.personal_info {
  text-align: center;
}
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
li.nav {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
.active {
  background-color: #6ea9b5;
}
li a:hover:not(.active) {
  background-color: #111;
}

li:last-child {
  border-right: none;
}
section{
  text-align: center;
  background-color: #ffffff;
  padding: 15px;
  border: 0px solid #555;
}
p{
    text-align: left;
}
ul.section{
      text-align: left;
}
footer {
  text-align: center;
  background-color: #ffffff;
  padding: 10px;
  border: 0px solid #555;
}
